#pdfjs_viewer-reduced_minimal {
  .openFile { display: none; }
  .bookmark { display: none; }
  #viewThumbnail { display: none; }
  #viewOutline { display: none; }
  #viewAttachments { display: none; }
  #download { display: none; }
  #secondaryToolbarToggle { display: none; }
  #toolbarViewerRight div.verticalToolbarSeparator { display: none; }
  #toolbarViewerRight button#print { display: none; }
}
